.container {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  aspect-ratio: 400/450;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
}

.profile-title {
  transform-origin: center;
  transition: font-size 0.3s ease;
}

.skill-labels text {
  opacity: 1;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    font-size: 120%;
    fill: #60a5fa;
    filter: url(#hoverGlow);
  }
}

.skill-point {
  transition: all 0.3s ease;

  circle {
    transition: all 0.3s ease;
  }

  &.active {
    circle {
      transform: translate(10px, 10px);
      fill: #93c5fd;
      filter: url(#hoverGlow);
    }
  }
}

.skill-area {
  transition: all 0.3s ease;

  &:hover {
    filter: url(#hoverGlow);
    opacity: 0.9 !important;
  }
}

.guideline {
  transition: stroke-width 0.3s ease, opacity 0.3s ease;
}

.skill-label {
  transition: all 0.3s ease;

  &.hovered {
    font-size: 120%;
    fill: #60a5fa;
    filter: url(#hoverGlow);
  }
}

circle.hovered {
  fill: #93c5fd;
  filter: url(#hoverGlow);
}
